* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #110033;
}

.circle {
  position: relative;
  width: 1300px;
  height: 575.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle .outside {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1.25s;
  z-index: 1000;
}

.circle.active .outside {
  transform: rotate(360deg);
}

.circle li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(360deg / 6 * var(--i)));
  transform-origin: 650px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
}

.circle.active li {
  scale: 1;
}

.circle li a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg / -6 * var(--i)));
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li:hover a {
  font-size: 2.5em;
}
